<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Transazioni</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; vertical-align: top; }
        th { background-color: #f2f2f2; }
        input, select { width: 100%; box-sizing: border-box; }
        .old-value { color: gray; font-style: italic; font-size: 0.8em; display: none; margin-top: 2px; }
        .editAccount {display: none;}
    </style>
</head>
<body>
    <h1>Importazione delle Transazioni</h1>

    <datalist id="accountList">
        <option value="Controparte 1">
        <option value="Controparte 2">
        <option value="Controparte 3">
            <option value="Controparte 4">
            <option value="Controparte 5">
    </datalist>

    <datalist id="categoryList">
        <option value="Spese">
        <option value="Rimborso">
        <option value="Entrate">
    </datalist>

    <table>
        <thead>
            <tr>
                <th>Data e Ora</th>
                <th>Tipologia</th>
                <th>Account sorgente</th>
                <th>Account destinatario</th>
                <th>Descrizione</th>
                <th>Ammontare</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody id="transactionTableBody">
            <form method="post" action="/save">
                {% for key, transaction in transactions.items() %}
                <tr>
                    <td><input type="datetime-local" name="date_{{ key }}" value="{{ transaction.getHTMLDate() }}"></td>
                    <td><select name="transactionType_{{ key }}" id="transactionType_{{ key }}" autocomplete="off"><option value="">Tipo transizione</option>
                        <option value="withdrawal" {% if transaction.transaction_type.value == "withdrawal" %} selected {% endif %}>Prelievo</option>
                        <option value="deposit" {% if transaction.transaction_type.value == "deposit" %} selected {% endif %}>Deposito</option>
                        <option value="transfer" {% if transaction.transaction_type.value == "transfer" %} selected {% endif %}>Trasferimento</option></select>
                    </td>
                    <td>
                        <div style="display: flex; gap: 5px;">
                            <input type="text" list="accountList" id="sourceAccount" name="sourceAccount_{{ key }}" value="{{ transaction.source_account }}" class="track-changeAccount">
                            <button class="{{ transaction.getAccountCounterparty('Unicredit') }}" onclick="editAccount(this)">✎</button>
                        </div>
                        <span class="old-value">Controparte 1</span>
                    </td>
                    <td>
                        <div style="display: flex; gap: 5px;">
                            <input type="text" list="accountList" id="destinationAccount" name="destinationAccount_{{ key }}" value="{{ transaction.destination_account }}" class="track-changeAccount">
                            <button class="{{ transaction.getAccountCounterparty('Unicredit') }}" onclick="editAccount(this)">✎</button>
                        </div>
                        <span class="old-value">Controparte 1</span>
                    </td>
                    <td>
                        <input type="text" name="description_{{ key }}" value="{{ transaction.description }}" class="track-change">
                        <span class="old-value">{{ transaction.description }}</span>
                    </td>
                    <td><input type="number" name="amount_{{ key }}" step="0.01" value="{{ transaction.amount }}"></td>
                    <td>
                        <input type="text" list="categoryList" value="Spese" class="track-change">
                        <span class="old-value">Spese</span>
                    </td>
                </tr>
                {% endfor %}
                <input type="submit" value="Salva">
            </form>
        </tbody>
    </table>

    <script>

        function trovaProssimoSpan(elemento) {
        let prossimoElemento = elemento.nextElementSibling;

        // Cicla tra gli elementi successivi finché non trova un <span>
        while (prossimoElemento) {
            if (prossimoElemento.tagName === 'SPAN') {
            return prossimoElemento; // Restituisce il primo <span> trovato
            }
            prossimoElemento = prossimoElemento.nextElementSibling;
        }

        // Se non è stato trovato nulla all'interno dei fratelli diretti, sali nell'albero DOM
        let parentElement = elemento.parentElement;
        while (parentElement) {
            prossimoElemento = parentElement.nextElementSibling;
            while (prossimoElemento) {
            if (prossimoElemento.tagName === 'SPAN') {
                return prossimoElemento; // Restituisce il primo <span> trovato
            }
            prossimoElemento = prossimoElemento.nextElementSibling;
            }
            parentElement = parentElement.parentElement; // Sali al genitore superiore
        }

        // Se non è stato trovato nessun <span>, restituisce null
        return null;
        }


        function editAccount(button) {
            const accountInput = button.previousElementSibling;
            const newName = prompt("Inserisci il nuovo nome dell'account:", accountInput.value);
            if (newName) {
                accountInput.value = newName;
                accountInput.dispatchEvent(new Event('change'));
                button.textContent = "✎"
            }
        }

        document.querySelectorAll('.track-changeAccount').forEach((input) => {
            let buttonEdit = input.nextElementSibling;
            let oldValueSpan = trovaProssimoSpan(input);
            console.log(input)
            console.log(oldValueSpan)
            input.addEventListener('focus', function() {
                if(oldValueSpan.style.display == 'none' || oldValueSpan.style.display == '') {
                    this.dataset.oldValue = this.value;
                }
            });

            input.addEventListener('change', function() {
                const oldValue = this.dataset.oldValue;
                const newValue = this.value;
                if (oldValue !== newValue) {
                    oldValueSpan.textContent = oldValue;
                    oldValueSpan.style.display = 'block';
                    buttonEdit.style.display = 'block';
                } else {
                    oldValueSpan.style.display = 'none';
                    buttonEdit.style.display = 'none';
                }
            });
        });

        document.querySelectorAll('.track-change').forEach((input) => {
            //let oldValueSpan = input.nextElementSibling;
            let oldValueSpan = trovaProssimoSpan(input);
            console.log(input)
            console.log(oldValueSpan)
            input.addEventListener('focus', function() {
                if(oldValueSpan.style.display == 'none' || oldValueSpan.style.display == '') {
                    this.dataset.oldValue = this.value;
                }
            });

            input.addEventListener('change', function() {
                const oldValue = this.dataset.oldValue;
                const newValue = this.value;
                if (oldValue !== newValue) {
                    oldValueSpan.textContent = oldValue;
                    oldValueSpan.style.display = 'block';
                } else {
                    oldValueSpan.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
